@model app.Models.ApiKey

@using System;
@using System.Globalization;

@{
    ViewData["Title"] = "Logg";
    ViewData.AddActivePage(ManageNavPages.API);
}

<div class="row">
    <div class="col-md-12">
        
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddAPI">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Opprett" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
