@model IEnumerable<app.Models.ApiKey>

@using System;
@using System.Globalization;

@{
    ViewData["Title"] = "Logg";
    ViewData.AddActivePage(ManageNavPages.API);
}

<div class="row">
    <div class="col-md-12">
        <a asp-action="AddAPI" class="btn btn-default">Opprett en ny API-nøkkel</a>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h2>API-nøkler</h2>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Navn</th>
                    <th>Nøkkel</th>
                    <th class="fit"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var k in Model)
                {
                    <tr>
                        <td>@k.Name</td>
                        <td>
                            <code onclick="copyTextToClipboard('@k.Key', this);" class="api-key-field">@k.Key</code>
                        </td>
                        <td class="fit">
                            <div class="dropdown">
                                <button id="more-btn" class="btn btn-default dropdown-toggle btn-sm" type="button" data-toggle="dropdown">
                                    <span class="more-dot"></span>
                                    <span class="more-dot"></span>
                                    <span class="more-dot"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a asp-action="DeleteAPI" asp-route-id="@k.Id">Slett</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Styles
{
    <link rel='stylesheet' href='~/lib/qtip2/3.0.3/jquery.qtip.min.css' />
}

@section Scripts
{
<script src='~/lib/qtip2/3.0.3/jquery.qtip.min.js'></script>

<script>
    $(document).ready(function () {
        $('.api-key-field').each(function () {
            $(this).qtip({
                content: 'Klikk for å kopiere til utklippstavle',
                hide: {
                    fixed: true
                },
                position: {
                    my: 'bottom center',
                    at: 'top center',
                },
                events: {
                    hide: function(event, api) {
                        setTimeout(function(){
                            api.set('content.text', "Klikk for å kopiere til utklippstavle");
                        }, 300);
                    }
                },
                style: 'qtip-light'
            });
        });
    });

    function copyTextToClipboard(text, source) {
        var textArea = document.createElement("textarea");
        textArea.value = text;

        document.body.appendChild(textArea);
        textArea.focus();
        textArea.select();

        try {
            var successful = document.execCommand('copy');
        } catch (err) {
            $(source).qtip('option', 'content.text', "Whoops! Klarte ikke kopiere");
        }

        document.body.removeChild(textArea);

        $(source).qtip('option', 'content.text', "Kopiért!");
    }
</script>
}
