@model app.Models.AdminViewModels.CreateManyUsersViewModel

@{
    ViewData["Title"] = Localizer["Create new user"];
    ViewData.AddActivePage(ManageNavPages.Users);
}

<div class="row">
    <div class="col-sm-5">
        <form method="post">
            <h4>Opprett nye brukere</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <textarea asp-for="Email" class="form-control" rows="4" 
                placeholder="@HtmlLocalizer["email 1\\nemail 2\\nemail 3\\netc..."]">
                </textarea>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-default">Opprett</button>
        </form>
    </div>
</div>

@section Scripts {
<script>
    var textAreas = document.getElementsByTagName('textarea');

    Array.prototype.forEach.call(textAreas, function(elem) {
        elem.placeholder = elem.placeholder.replace(/\\n/g, '\n');
    });
</script>
}