@model IEnumerable<app.Models.Report>

@{
    ViewData["Title"] = "Rapporter";
    ViewData.AddActivePage(ManageNavPages.Reports);
}

<div id="app" v-cloak>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Rapport-melding
                </th>
                <th>
                    Verktøy
                </th>
                <th>
                    Bruker
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="r in reports">
                <td>
                    {{ r.error }}
                </td>
                <td>
                    {{ r.tool.name }}
                </td>
                <td>
                    {{ r.user.userName }}
                </td>
                <td>
                    <button type="button" class="okSignButton btn btn-default" title="Merk som løst"
                    v-on:click="markAsResolved(r.id)" v-if="!r.isResolved">
                    <span class="okSign glyphicon glyphicon-ok-sign"></span>
                    </button>

                    <button type="button" class="okSignButton btn btn-default" title="Merk som uløst" 
                    v-on:click="markAsResolved(r.id)" v-else>
                    <span class="okSignGreen glyphicon glyphicon-ok-sign"></span>
                    </button>
                </td>
                <td class="fit">
                    <div class="dropdown">
                        <button id="more-btn" class="btn btn-default dropdown-toggle btn-sm" type="button" data-toggle="dropdown">
                            <span class="more-dot"></span>
                            <span class="more-dot"></span>
                            <span class="more-dot"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li><a v-bind:href="'/Report/Edit/' + r.id">Edit</a></li>
                            <li><a v-bind:href="'/Report/Details/' + r.id">Details</a></li>
                            <li><a v-bind:href="'/Report/Delete/' + r.id">Delete</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
        
        @if (Model.Count() == 0)
        {
            <tr>
                <td colspan="2">Ingen rapporter å vise...</td>
            </tr>
        }
        </tbody>
    </table>
</div>

@section Scripts {

<script>
var app = new Vue({
    el: '#app',
    data: {
        reports: []
    },
    created: function () {
        this.loadReports();
    },
    methods: {
        loadReports: function() {
            var self = this;

            // Fetch list of reports
            axios.get('/api/report')
            .then(function (response) {
                self.reports = response.data;
            }); 
        },
        markAsResolved: function(id) {
            var self = this;

            axios.put('/api/Report/' + id + '/markAsResolved')
            .then(function (response){
                if (response.status == 200)
                {
                    self.loadReports();
                }
            });
        }
    }
})
</script>
}