@model app.Models.ToolViewModels.ReserveViewModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Reservation</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Reservation.FromDate" class="control-label"></label>
                <input asp-for="Reservation.FromDate" class="form-control" />
                <span asp-validation-for="Reservation.FromDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reservation.ToDate" class="control-label"></label>
                <input asp-for="Reservation.ToDate" class="form-control" />
                <span asp-validation-for="Reservation.ToDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Details" asp-route-id="@Model.Tool.Id">Tilbake</a>
</div>

