body {
    background: #252425;
    color: #ccc;
    text-align: center;
}

body a {
    color: #ff6600;
}

img {
    height: 4.5em;
}

#password-forgot {
    display: block;
    width: 100%;
    margin-top: 0.3em;
    text-align: right;
    font-size: 0.85em;
}

button[type=submit] {
    margin-left: 1em;
    width: 100px;
}

#login-form input:focus {
    border-color: #ff6600;
    
    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(255, 102, 0, 0.6)
}