body {
    padding-top: 50px;
    padding-bottom: 20px;
}

nav.navbar {
    background: #f0f0f0;
    border-bottom: 1px solid #ff6600;
}

nav.navbar img {
    height: 40px;
    margin: 5px 0;
}

nav.navbar a, nav.navbar button {
    color: #666;
}

nav.navbar a:hover, nav.navbar button:hover {
    color: #ff6600;
}

nav.navbar .navbar-toggle:hover {
    background-color: #e8e8e8;
}

nav.navbar .navbar-toggle .icon-bar {
    border: 1px solid #ff6600;
}

[v-cloak] {
	display: none;
}

/* Favorites star! */
.glyphicon-star {
    color: #ff6600;
}

.glyphicon-star:hover {
    text-shadow: rgba(255, 102, 00, 0.4) 0px 0px 6px;
}

.glyphicon-star-empty:hover {
    color: #ff6600;
}

.glyphicon-star, .glyphicon-star-empty {
    vertical-align: text-bottom;
    font-size: 2em;
    cursor: pointer;
}

/* Make table column fit the widht of the content */
.table td.fit, .table th.fit {
    white-space: nowrap;
    width: 1%;
}