body {
    padding-top: 50px;
    padding-bottom: 20px;
}

nav.navbar {
    background: #f0f0f0;
    border-bottom: 1px solid #ff6600;
}

nav.navbar img {
    height: 40px;
    margin: 5px 0;
}

nav.navbar a, nav.navbar button {
    color: #666;
}

nav.navbar a:hover, nav.navbar button:hover {
    color: #ff6600;
}

[v-cloak] {
	display: none;
}

/* Favorites star! */
.glyphicon-star {
    color: #ff6600;
}