@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
    ViewData["Title"] = Localizer["Access denied"];
}

<header>
    <h2 class="text-danger">@ViewData["Title"]</h2>
    <p class="text-danger">@Localizer["You do not have access to this resource"].</p>
</header>
