@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
    ViewData["Title"] = Localizer["Confirm email"];
}

<h2>@ViewData["Title"]</h2>
<div>
    <p>@Localizer["Thank you for confirming your email"].</p>
</div>